<header>
    {{ $config := cond (eq $.Site.Language.Lang "en") "config" (printf "config.%s" $.Site.Language.Lang) }}
    <h1 id="page-title"><a href="{{ "" | absLangURL }}">{{ ( index $.Site.Data $config ).page_title | default $.Site.Data.config.page_title }}</a></h1>
    <div id="navigation_buttons">
      <nav>
        <ul>
          {{- range $.Site.Data.config.navigation -}}
          <li><a href="{{.link}}"{{if .rel}} rel="{{.rel}}"{{end}}>{{.link_name}}</a></li>
          {{- end -}}
          <li id="search-icon">Search</li>
        </ul>
      </nav>
    </div>
</header>

